body{background-color: rgb(154, 194, 255);}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25;
  }
  
  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25;
  }
  h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25;
  }
  
  h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25;
  }
  
  